### Intro to 2D lists

In [2]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
li[2][3]

12

### How Two Dimensional Lists Are actually stored

In [4]:
li=[[1,2,3,4],[5,6,7,8]]
print(id(li[1]))
print(id(li[1][1]))

2660029229696
2659948325328

### Jagged lists

In [6]:
li=[[1,2,3,4],[5,6,7],[8,9],[10,11]]
li[2][1]

9

In [7]:
li = [[1,2,3,4],[5,6],[7,8,9]]
print(li[2])

[7, 8, 9]

### List Comprehension

In [2]:
a=input().split()
print(type(a))
n,m=int(a[0]),int(a[1])
li=[[0 for j in range(m)] for i in range(n)]
for i in range(n):
    b=input().split()
    c=[0 for i in range(m)]
    if len(b)>m:
        c=b[:m]
        li[i]=c
    else:
        for j in range(len(b)):
            c[j]=b[j]
        li[i]=c
li

2 3
<class 'list'>
2 3
5 6

[['2', '3', 0], ['5', '6', 0]]

In [17]:
li=[1,2,3,4]
li_new=[]
for ele in li:
    li_new.append(ele**2)
print(li_new)

[1, 4, 9, 16]

In [4]:
def s(li):
    for i in range(len(li)):
        li[i]=li[i]**2
    return 
li=[1,2,3,4] 
s(li)
print(li)

[1, 4, 9, 16]

In [19]:
li_new2= [ele**2 for ele in li]
li_new2

[1, 4, 9, 16]

In [20]:
li_even=[ele**2 for ele in li if ele%2==0]
li_even

[4, 16]

In [23]:
li1=[1,2,3,4,5]
li2=[2,4,6,7]
li_inter=[]
for ele1 in li1:
    for ele2 in li2:
        if ele1==ele2:
            li_inter.append(ele1)
print(li_inter)

[2, 4]

In [24]:
li1=[1,2,3,4,5]
li2=[2,4,6,7]
li_inter=[ele1 for ele1 in li1 for ele2 in li2 if ele1==ele2]
print(li_inter)

[2, 4]

In [26]:
li=[1,2,3,4,5]
linew=[ele**2 if ele%2==0 else ele for ele in li]
print(linew)

[1, 4, 3, 16, 5]

In [28]:
s='ayush'
li=[ele for ele in s]
li

['a', 'y', 'u', 's', 'h']

In [31]:
li=['ayush','hello','world']
li_2d=[[s for s in ele ] for ele in li]
print(li_2d)

[['a', 'y', 'u', 's', 'h'], ['h', 'e', 'l', 'l', 'o'], ['w', 'o', 'r', 'l', 'd']]

### Input Of Two Dimensional Lists

In [4]:
str=input().split()
n,m=int(str[0]),int(str[1])
li=[[int(j) for j in input().split()] for i in range(n)]
li

3 4
1 2 3 4 5
1 2 4 5
 1 2 3

[[1, 2, 3, 4, 5], [1, 2, 4, 5], [1, 2, 3]]

In [5]:
n=int(input())
li=[[int(j) for j in input().split()] for i in range(n)]
li

5
1 2 3 4
1 2
1 2 3
1 5 9 6 3
5 4 8 9 1 4

[[1, 2, 3, 4], [1, 2], [1, 2, 3], [1, 5, 9, 6, 3], [5, 4, 8, 9, 1, 4]]

In [6]:
str=input().split()
n,m=int(str[0]),int(str[1])
b=input().split()
arr=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]
arr

3 4
1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [7]:
str=input().split()
n,m=int(str[0]),int(str[1])
b=str[2:]
arr=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]
arr

3 3 1 2 3 4 5 6 7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Printing Two Dimensional Lists

In [12]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
n=3
m=4
for i in range(n):
    for j in range(m):
        print(li[i][j],end=' ')
    print()

1 2 3 4
5 6 7 8
9 10 11 12

In [5]:
li = [[1,2,3,4],[5,6],[9,10,11]]
for row in li:
    for ele in row:
        print(ele,end=" ")
    print()

1 2 3 4
5 6
9 10 11

In [6]:
# join function
'abc'.join(['1','2','3'])

'1abc2abc3'

In [3]:
li = [[1,2,3,4],[5,6],[9,10,11]]
for row in li:
    out = ' '.join([ str(ele) for ele in row])
    print(out)

1 2 3 4
5 6
9 10 11

### Largest Column Sum In 2D list

In [3]:
def lar_col_sum(li):
    n= len(li)
    m= len(li[0])
    max_sum=-1
    max_index=-1
    for j in range(m):
        sum=0
        for i in range(n):
            sum+=li[i][j]
        if sum>max_sum:
            max_index=j
            max_sum=sum
    return max_sum,max_index

li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
lar_sum,lar_col_index=lar_col_sum(li)
print(lar_sum,lar_col_index)

24 3

In [7]:
def lar_col_sum(li):
    n= len(li)
    m= len(li[0])
    max_sum=-1
    max_index=-1
    for j in range(m):
        sum=0
        for ele in li:
            sum+=ele[j]
        if sum>max_sum:
            max_index=j
            max_sum=sum
    return max_sum,max_index

li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
lar_sum,lar_col_index=lar_col_sum(li)
print(lar_sum,lar_col_index)

24 3