### Tuples
    ~tuples are immutable

In [3]:
a=(2)
print(type(a))
a=(2,)
type(a)

<class 'int'>

tuple

In [40]:
a=(1,2)
print(a)
type(a)

(1, 2)

tuple

In [41]:
b,c=3,4
e=5,6
print(type(e))

<class 'tuple'>

In [42]:
print(e[-1])
e[0]

6

5

In [1]:
f=(1,2,3,4,5)
f[0::2]

(1, 3, 5)

In [44]:
del f[0]

TypeError: 'tuple' object doesn't support item deletion

In [45]:
del f
f

NameError: name 'f' is not defined

### Tuples Functions

In [46]:
a=(1,2,3)
b=4,5
# for loops
for i in a:
    print(i)

1
2
3

In [47]:
print(len(a))
1 in a

3

True

In [48]:
#concatination
c=a+b
c

(1, 2, 3, 4, 5)

In [49]:
d=(a,b)
d

((1, 2, 3), (4, 5))

In [50]:
#repetation
e=a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [51]:
max(a)

3

In [5]:
a2=(1,2,3,(1,2))
a3=(1,2.2) #min can be found only in a3
a4=(1,2,'s',4)
print(min(a2))
max(a4)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [53]:
#list to tuple
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

### Variable length input and output

In [54]:
def sum(a,b,c=0,d=0,e=0):
    return a+b+c+d+e

sum(1,2,3,4,5)

15

In [6]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)
    ans=a+b
    for i in more:
        ans+=i
    return ans
    
sum2(2,3,4,5)

2
3
(4, 5)

14

In [56]:
def sum_diff(a,b):
    return a+b,a-b

c=sum_diff(4,1)
c

(5, 3)

In [57]:
d,e=sum_diff(4,1)
print(d,e)

5 3

### Dictionary Intro

In [58]:
a={}  
type(a)

dict

In [3]:
a={'the':1,'a':5,1000:'abc'}
print(a)
len(a)

{'the': 1, 'a': 5, 1000: 'abc'}

3

In [4]:
b=a.copy()
b

{'the': 1, 'a': 5, 1000: 'abc'}

In [61]:
c=dict([('the',3),("a",10),(2,3)])
c

{'the': 3, 'a': 10, 2: 3}

In [62]:
d=dict.fromkeys(["abc",32,4])
d

{'abc': None, 32: None, 4: None}

In [6]:
d=dict.fromkeys(["abc",32,4],10)
d

{'abc': 10, 32: 10, 4: 10}

### Access/looping elements in dictionaries

In [7]:
a={1:2,2:3,'list':[1,23],"dict":{1:2}}
a['list'] #use key instead of index

[1, 23]

In [65]:
print(a.get("li"))
print(a.get("li",0)) #if key is not present it will give other value
a.get('list')

None
0

[1, 23]

In [66]:
a.keys()

dict_keys([1, 2, 'list', 'dict'])

In [67]:
a.values()

dict_values([2, 3, [1, 23], {1: 2}])

In [68]:
a.items()

dict_items([(1, 2), (2, 3), ('list', [1, 23]), ('dict', {1: 2})])

In [69]:
for i in a:
    print(i,a[i])

1 2
2 3
list [1, 23]
dict {1: 2}

In [70]:
for i in a.values():
    print(i)

2
3
[1, 23]
{1: 2}

In [71]:
'list' in a #checking in keys

True

### Adding Or Removing Data In Dictionaries

In [72]:
a

{1: 2, 2: 3, 'list': [1, 23], 'dict': {1: 2}}

In [73]:
a["t"]=(1,2,3)
a

{1: 2, 2: 3, 'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3)}

In [74]:
a[10]=10
a

{1: 2, 2: 3, 'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3), 10: 10}

In [75]:
# updating a dict
b={3:5,'the':4,2:100}
a.update(b)
a

{1: 2,
 2: 100,
 'list': [1, 23],
 'dict': {1: 2},
 't': (1, 2, 3),
 10: 10,
 3: 5,
 'the': 4}

In [76]:
a.pop(2)
a

{1: 2, 'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3), 10: 10, 3: 5, 'the': 4}

In [77]:
del a[1]
a

{'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3), 10: 10, 3: 5, 'the': 4}

In [78]:
a.clear()
a

{}

In [79]:
del a
a

NameError: name 'a' is not defined

### Print All Words With Frequency K

In [82]:
s='this is a word string having many many word'
k=2
words=s.split()
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [83]:
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [84]:
d={}
for w in words:
    d[w]=d.get(w,0)+1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [85]:
for w in d:
    if d[w]==k:
        print(w)

word
many

In [86]:
def printKFreqWords(s,k):
    words=s.split()
    d={}
    for w in words:
        d[w]=d.get(w,0)+1
    for w in d:
        if d[w]==k:
            print(w)

In [89]:
printKFreqWords(s,2)

word
many

### Sets Intro
    ~not ordered

In [14]:
s = {} #set() # representing dict not list
s.add(4)
s.add(4)
print(len(s))

1

In [10]:
a={'apple',"abc",23,"abc"}
print(len(a)) #same ele don't count in len of set
type(a)

3

set

In [106]:
a[0] # don't follow indexing
a['abc']

TypeError: 'set' object is not subscriptable

In [107]:
'abc' in a

True

In [108]:
for v in a:
    print(v)

abc
apple
23

In [9]:
a={1,2,3}
a.add('temp')
a

{1, 2, 3, 'temp'}

In [10]:
b={'abc',"ghi"}
a.update(b)
a

{1, 2, 3, 'abc', 'ghi', 'temp'}

In [11]:
a.remove('temp')
a

{1, 2, 3, 'abc', 'ghi'}

In [12]:
a.discard("yu")
a

{1, 2, 3, 'abc', 'ghi'}

In [15]:
a.pop()
a

{'abc', 'ghi'}

In [16]:
a

{'abc', 'ghi'}

### Functions in sets

In [17]:
a={1,2,3,4}
b={3,4,5,6}
a.intersection(b)

{3, 4}

In [18]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [19]:
a.difference(b)

{1, 2}

In [20]:
a.symmetric_difference(b) #AuB- AnB

{1, 2, 5, 6}

In [25]:
print(a.intersection_update(b))

None

In [26]:
a={1,2,3,4}
b={3,4,5,6}
print(a.difference_update(b))
a

None

{1, 2}

In [123]:
a={1,2,3,4}
b={3,4,5,6}
a.symmetric_difference_update(b)
a

{1, 2, 5, 6}

In [2]:
a={1,2,3,4}
b={3,4,5,6}
c={3,4}

In [3]:
print(c.issubset(b))
a.issubset(b)

True

False

In [5]:
d={7,8}

In [6]:
print(a.issuperset(c))
a.isdisjoint(d)

True

True

### Sum Of All Unique Numbers In List

In [16]:
a={1,2,3,1,3}
print(len(a))
print(a)

3
{1, 2, 3}

In [17]:
a.add(2)
a

{1, 2, 3}

In [19]:
s={}
print(type(s))
s=set()
print(type(s))

<class 'dict'>
<class 'set'>

In [22]:
def sumUnique(l):
    s=set()
    for i in l:
        s.add(i)
    sum=0
    for i in s:
        sum+=i
    return sum

In [24]:
sumUnique([1,2,3,4,2,5,1,6,5,3])

21