### Print hello world

In [1]:
print('hello world')
print('hello world')
11

hello world
hello world

11

### Variables

In [1]:
a=10 
b=20

sum=a+b
print(sum)
print("sum")

30
sum

### Variable naming
you can't start with digits

In [1]:
ab_1=10
_ss =2
# 12cd=1

### Assigning different type of data to a variable

In [1]:
a=10
a=20
a='kjhks'
a

'kjhks'

In [2]:
a='abc'
print(type(a))
a=10
print(type(a))

<class 'str'>
<class 'int'>

### Python numbers

In [1]:
a1=23
a2=3.4
a3=4+5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
a=10
print(id(a))
a=a+1
print(id(a))
a

1866869926480
1866869926512

11

In [3]:
a=1000   # same id from -5 to 256
b=1000
c=1
d=1
print(id(a))   
print(id(b))
print(id(c))
print(id(d))

1866951272112
1866951272048
1866869926192
1866869926192

In [4]:
a=10
b=a+2-2
print(id(a))
print(id(b))

1866869926480
1866869926480

### Airthmatic operators

In [1]:
a=10
b=4
print(a-b)
print(a+b)

6
14

In [2]:
a*b

40

In [3]:
a/b # floating point division

2.5

In [4]:
a//b # integer division

2

In [5]:
a**b # exponentiation

10000

In [6]:
a%b # remainder or modulus

2

In [7]:
2+3*4 # BOADMASS rule (put brackets in order to rectify mistakes)

14

In [8]:
# fah to celcius conversion
f=-40
ci=f-32*5/9
c=(f-32)*5/9
print(ci)
print(c)

-57.77777777777778
-40.0

### Input

In [1]:
input()

23

'23'

In [3]:
a=input()
b=input()
print(type(a))
sum=a+b
print(sum)

23
34
<class 'str'>
2334

In [7]:
b='34'
c=int(b)
print(type(b))
print(type(c))
c

<class 'str'>
<class 'int'>

34

In [13]:
b= '34'
c=int(b)
c

34

In [11]:
a= int(input())   # use float for decimal no.
b= int(input())
print(type(a))
s=a+b
print(s)

23
34
<class 'int'>
57